@font-face {
    font-family: "chelsea";
    src: url(//fonts/Chelsea_Market.zip);
  }



main, header, footer{
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: lightpink;
    padding: 20px;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 400;
    font-family: 'chelsea';
}

#screen{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#game{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#title_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/startscreen.png);
    background-size: cover;
  }

#level_complete1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-camera.png);
    background-color: white;
    background-size: cover;
  }
  
#level_complete2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-code.png);
    background-color: white;
    background-size: cover;
  }

  #level_complete3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-presentation.png);
    background-color: white;
    background-size: cover;
  }


  #level_complete4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-island.png);
    background-color: white;
    background-size: cover;
  }

  #level_complete5 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-joe.png);
    background-color: white;
    background-size: cover;
  }

  

  #instructions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/gamescreen.png);
    background-color: white;
    background-size: cover;
  }

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

#game_background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(img/gamescreen.png) ;
    background-size: cover;
}

#game_elements{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}



  /* ----------- spil - elementer---------------*/


#tableandchair_container1{
    width: 23%;
    aspect-ratio: 650/685;
    position:absolute;
    top: 51%;
    left:10%;
}

#tableandchair_sprite1{
    width: 100%;
    height: 100%;
    background-image: url(img/tableandchair.png);
    background-size: cover;
}

#tableandchair_container2{
    width: 25%;
    aspect-ratio: 650/685;
    position:absolute;
    top: 57.5%;
    left: 34%;
}

#tableandchair_sprite2{
    width: 100%;
    height: 100%;
    background-image: url(img/tableandchair.png);
    background-size: cover;
}

#tableandchair_container3{
    width: 23%;
    aspect-ratio: 650/685;
    position:absolute;
    top: 51%;
    left: 60%;
}

#tableandchair_sprite3{
    width: 100%;
    height: 100%;
    background-image: url(img/tableandchair.png);
    background-size: cover;
}


/* -----------------klikbarer elementer ----------*/

#figma_container{
    cursor: grab;
    width: 8%;
    aspect-ratio: 212/214;
    position:absolute;
}

#figma_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/figma.png);
    background-size: cover;
}

#fail_container{
    cursor: grab;
    width: 7%;
    aspect-ratio: 230/192;
    position:absolute;
}

#fail_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/fail.png);
    background-size: cover;
}

#zipfil_container{
    cursor: grab;
    width: 12%;
    aspect-ratio: 1.5/1;
    position:absolute;
}

#zipfil_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/zipfil.png);
    background-size: cover;
}

#adobe_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 431/439;
    position:absolute;
}

#adobe_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/adobe.png);
    background-size: cover;
}

#beer_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 431/439;
    position:absolute;
}

#beer_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/beer.png);
    background-size: cover;
}

#diagram_container{
    cursor: grab;
    width: 9%;
    aspect-ratio: 431/439;
    position:absolute;
}

#diagram_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/diagram.png);
    background-size: cover;
}

#loop_container{
    cursor: grab;
    width: 8%;
    aspect-ratio: 212/214;
    position:absolute;
}

#loop_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/loop.png);
    background-size: cover;
}

#malerpalette_container{
    cursor: grab;
    width: 7%;
    aspect-ratio: 230/192;
    position:absolute;
}

#malerpalette_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/malerpalette.png);
    background-size: cover;
}

#vscode_container{
    cursor: grab;
    width: 12%;
    aspect-ratio: 1.5/1;
    position:absolute;
}

#vscode_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/vscode.png);
    background-size: cover;
}

#github_container{
    cursor: grab;
    width: 8%;
    aspect-ratio: 212/214;
    position:absolute;
}

#github_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/github.png);
    background-size: cover;
}

#pillow_container{
    cursor: grab;
    width: 7%;
    aspect-ratio: 230/192;
    position:absolute;
}

#pillow_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/pillow.png);
    background-size: cover;
}

#talebobler_container{
    cursor: grab;
    width: 12%;
    aspect-ratio: 1.5/1;
    position:absolute;
}

#talebobler_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/to-talebobler.png);
    background-size: cover;
}




/*--------------------- point og liv-----------------*/

#points,
#lives {
  font-family: Georgia, serif;
  margin: 0;
  color: black;
  position: absolute;
  font-size: 200%;
}
#lives {
  left: 49%;
  top: 80%;
}
#points {
  left: 38.5%;
  top: 80%;
}


/*---------------------------knapper------------------------*/
#play_game1 {
    cursor: pointer;
    position: absolute;
    width: 7%;
    aspect-ratio: 350/332 ;
    background-image: url("img/check.png");
    background-size: cover;
    left: 73%;
    top: 60%;
    z-index: 100;
  }

  #play_game2 {
    cursor: pointer;
    position: absolute;
    width: 15%;
    aspect-ratio: 1685/575 ;
    background-image: url("img/letsgo-btn.png");
    background-size: cover;
    left: 66%;
    top: 65%;
    z-index: 100;
  }

  #play_again1 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }

  #play_again2 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }
  #play_again3 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }

  #play_again4 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }

  #play_again5 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }


/*---------- positioner -----------*/
  .pos1 {
    top: 55%;
    left: 66%;
  }
  .pos2 {
    top: 62.5%;
    left: 76%;
  }
  .pos3 {
    top: 39%;
    left: 31%;
  }




/* ---------------------------- Delay ---------------------------- */
.delay1 {
    animation-delay: 0s;
  }
  
.delay2 {
    animation-delay: 0.5s;
  }
  
.delay3 {
    animation-delay: 1s;
  }
  
.delay4 {
    animation-delay: 1.5s;
  }


  /*------ mortenener-------*/

  #morten1 {
    background-image: url(img/thumbs-up-morten.png);
    background-size: cover;
    aspect-ratio: 3198/2671;
    position: absolute;
    top: 76%;
    left: 15%;
    width: 32%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten2 {
    background-image: url(img/thumbs-up-morten.png);
    background-size: cover;
    aspect-ratio: 3198/2671;
    position: absolute;
    top: 76%;
    left: 15%;
    width: 32%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  /*------------- talebobler*/

  #talebobbel{
    width: 55%;
    aspect-ratio: 943/552;
    position:absolute;
    top: 23%;
    left:30%;
    background-image: url(img/talebobbel.png);
    background-size: cover;
}

