@font-face {
    font-family: "chelsea";
    src: url(fonts/ChelseaMarket-Regular.ttf);
  }

main, header, footer{
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: lightpink;
    padding: 20px;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 400;
    font-family: 'chelsea';
}

#screen{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

#game{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#mortenskyllinger_screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(img/startscreen-medkyllinger.png);
  background-size: cover;
}

#title_screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/startscreen.png);
    background-size: cover;
  }

  .instructions {
    font-family: "chelsea";
    font-size: 24px;
    padding: 20px;
    margin-left: 10%;
  }

#level_complete1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-camera.png);
    background-color: white;
    background-size: cover;
  }
  
#level_complete2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-code.png);
    background-color: white;
    background-size: cover;
  }

  #level_complete3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-presentation.png);
    background-color: white;
    background-size: cover;
  }


  #level_complete4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-joe.png);
    background-color: white;
    background-size: cover;
  }

  #level_complete5 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/endscreen-island.png);
    background-color: white;
    background-size: cover;
  }

  

  #instructions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/gamescreen.png);
    background-color: white;
    background-size: cover;
  }

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

#game_background{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url(img/gamescreen.png) ;
    background-size: cover;
}

#game_elements{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}



  /* ----------- spil - elementer---------------*/


#tableandchair_container1{
    width: 23%;
    aspect-ratio: 650/685;
    position:absolute;
    top: 51%;
    left:10%;
}

#tableandchair_sprite1{
    width: 100%;
    height: 100%;
    background-image: url(img/tableandchair.png);
    background-size: cover;
}

#tableandchair_container2{
    width: 25%;
    aspect-ratio: 650/685;
    position:absolute;
    top: 57.5%;
    left: 34%;
}

#tableandchair_sprite2{
    width: 100%;
    height: 100%;
    background-image: url(img/tableandchair.png);
    background-size: cover;
}

#tableandchair_container3{
    width: 23%;
    aspect-ratio: 650/685;
    position:absolute;
    top: 51%;
    left: 60%;
}

#tableandchair_sprite3{
    width: 100%;
    height: 100%;
    background-image: url(img/tableandchair.png);
    background-size: cover;
}


/* -----------------klikbarer elementer ----------*/

#figma_container{
    cursor: grab;
    width: 14%;
    aspect-ratio: 212/214;
    position:absolute;
}

#figma_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/figma.png);
    background-size: cover;
}

#fail_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 230/192;
    position:absolute;
}

#fail_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/fail.png);
    background-size: cover;
}

#zip_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 431/439;
    position:absolute;
}

#zip_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/zipfil.png);
    background-size: cover;
}

#adobe_container{
    cursor: grab;
    width: 11%;
    aspect-ratio: 431/439;
    position:absolute;
}

#adobe_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/adobe.png);
    background-size: cover;
}

#beer_container{
    cursor: grab;
    width: 11%;
    aspect-ratio: 431/439;
    position:absolute;
}

#beer_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/beer.png);
    background-size: cover;
}

#diagram_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 431/439;
    position:absolute;
}

#diagram_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/diagram.png);
    background-size: cover;
}

#loop_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 212/214;
    position:absolute;
}

#loop_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/loop.png);
    background-size: cover;
}

#maler_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 230/192;
    position:absolute;
}

#maler_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/malerpalette.png);
    background-size: cover;
}

#vs_container{
    cursor: grab;
    width: 12%;
    aspect-ratio: 1.5/1;
    position:absolute;
}

#vs_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/vscode.png);
    background-size: cover;
}

#git_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 212/214;
    position:absolute;
}

#git_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/github.png);
    background-size: cover;
}

#pillow_container{
    cursor: grab;
    width: 10%;
    aspect-ratio: 230/192;
    position:absolute;
}

#pillow_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/pillow.png);
    background-size: cover;
}

#tale_container{
    cursor: grab;
    width: 12%;
    aspect-ratio: 1.5/1;
    position:absolute;
}

#tale_sprite{
    width: 100%;
    height: 100%;
    background-image: url(img/to-talebobler.png);
    background-size: cover;
}




/*--------------------- point og liv-----------------*/

#points,
#lives {
  font-family: Georgia, serif;
  margin: 0;
  color: black;
  position: absolute;
  font-size: 200%;
}
#lives {
  left: 49%;
  top: 80%;
}
#points {
  left: 38.5%;
  top: 80%;
}


/*---------------------------knapper------------------------*/
#play_game {
    cursor: pointer;
    position: absolute;
    width: 22%;
    aspect-ratio: 1348/499 ;
    background-image: url("img/start-btn.png");
    background-size: cover;
    left: 75%;
    top: 82%;
    z-index: 100;
  }


#play_game1 {
    cursor: pointer;
    position: absolute;
    width: 7%;
    aspect-ratio: 350/332 ;
    background-image: url("img/check.png");
    background-size: cover;
    left: 73%;
    top: 62%;
    z-index: 100;
  }

  #play_game2 {
    cursor: pointer;
    position: absolute;
    width: 15%;
    aspect-ratio: 1685/575 ;
    background-image: url("img/letsgo-btn.png");
    background-size: cover;
    left: 52%;
    top: 64%;
    z-index: 100;
  }

  #play_again1 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }

  #play_again2 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }
  #play_again3 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }

  #play_again4 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }

  #play_again5 {
    cursor: pointer;
    position: absolute;
    width: 23%;
    aspect-ratio: 1146/393 ;
    background-image: url("img/prøv-igen.png");
    background-size: cover;
    left: 38%;
    top: 67%;
  }


/*---------- positioner -----------*/
  .pos1 {
    top: 55%;
    left:16%;
  }
  .pos2 {
    top: 61.5%;
    left: 40%;
  }
  .pos3 {
    top: 55%;
    left: 66%;
  }




/* ---------------------------- Delay ---------------------------- */
.delay1 {
    animation-delay: 0s;
  }
  
.delay2 {
    animation-delay: 3s;
  }
  
.delay3 {
    animation-delay: 6s;
  }
  
.delay4 {
    animation-delay: 7s;
  }


  /*------ mortenener-------*/

  #morten1 {
    background-image: url(img/thumbs-up-morten.png);
    background-size: cover;
    aspect-ratio: 3198/2671;
    position: absolute;
    top: 76%;
    left: 15%;
    width: 32%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten2 {
    background-image: url(img/thumbs-up-morten.png);
    background-size: cover;
    aspect-ratio: 3198/2671;
    position: absolute;
    top: 76%;
    left: 15%;
    width: 32%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten3 {
    background-image: url(img/hello-morten.png);
    background-size: cover;
    aspect-ratio: 1646/2451;
    position: absolute;
    top: 72%;
    left: 27%;
    width: 23%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten4 {
    background-image: url(img/peace-morten.png);
    background-size: cover;
    aspect-ratio: 3214/2269;
    position: absolute;
    top: 73.5%;
    left: 18%;
    width: 42%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten5 {
    background-image: url(img/thumbs-up-morten.png);
    background-size: cover;
    aspect-ratio: 3198/2671;
    position: absolute;
    top: 73%;
    left: 83%;
    width: 36%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten6 {
    background-image: url(img/thumbs-up-morten-skrå.png);
    background-size: cover;
    aspect-ratio: 3236/3141;
    position: absolute;
    top: 67%;
    left: 81%;
    width: 38%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }

  #morten7 {
    background-image: url(img/peace-morten.png);
    background-size: cover;
    aspect-ratio: 3214/2269;
    position: absolute;
    top: 73.5%;
    left: 81%;
    width: 42%;
    /* positioner bare elementet */
    transform: translate(-50%, -50%);
  }


  /*------------- talebobbel-------*/

  #talebobbel{
    width: 55%;
    aspect-ratio: 943/552;
    position:absolute;
    top: 23%;
    left:30%;
    background-image: url(img/talebobbel.png);
    background-size: cover;
}


/*------------------timer------------*/
#timer-outline{
    position: absolute;
    width: 22px;
    height: 19vw;
    top: 15vw;
    left: 93vw;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 6px;
}

#timer-fill{
    position: absolute;
    width: 18px;
    height: 18.6vw;
    top: 15.3vw;
    left: 93.3vw;
    transform-origin: 50% 100%;
    background-color: #7BBD59;
    border-radius: 6px;
}

.shrink{
    animation-name: shrink_time;
    animation-duration: 40s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

@keyframes shrink_time{
    0% {
        scale: 1 1;
        background-color: #7BBD59 ;
    }
    50% {
        background-color: #EED12B;
    }
    100% {
        scale: 1 0;
        background-color: #C64242;
    }

}


/*-------------animationer-----------*/
.hide{
    display: none;
}

.bounce {
    animation-name: item-bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.93, 0.2, 0.47, 1.04);
  }

  @keyframes item-bounce {
    0% {
      translate: 0 0%;
    }
    50% {
      translate: 0 -95%;
    }
    100% {
      translate: 0 0%;
    }
  }

.pulse  {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

.rotation  {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.zoom  {
  animation-name: zoom;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  90% {
    scale: 150%;
    opacity: 100%;
  }
  100% {
    scale: 150%;
    opacity: 0%;
  }
}

.disAppear {
    animation-name: disAppear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

@keyframes disAppear {
    to {
      scale: 0;
      rotate: 3turn;
    }
  }
  

.gray {
    filter: grayscale();
    filter: drop-shadow();
  }

.frys {
    animation-play-state: paused;
  }

.hide
  {
      display: none;
  }

