/* eksempel på en grøn, gul rød timer*/

#timer-outline{
    position: absolute;
    width: 3.2vw;
    height: 19vw;
    top: 15vw;
    left: 93vw;
    border: 2px solid black;
}

#timer-fill{
    position: absolute;
    width: 3vw;
    height: 19vw;
    top: 15.1vw;
    left: 93.2vw;
    transform-origin: 50% 100%;
    background-color: limegreen;
}

.shrink{
    animation-name: shrink_time;
    animation-duration: 60s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

@keyframes shrink_time{
    0% {
        scale: 1 1;
        background-color: limegreen ;
    }
    50% {
        background-color: rgb(255, 230, 0);
    }
    100% {
        scale: 1 0;
        background-color: red;
    }

}