/* eksempel på en grøn, gul rød timer*/

#timer-outline{
    position: absolute;
    width: 22px;
    height: 19vw;
    top: 15vw;
    left: 93vw;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 6px;
}

#timer-fill{
    position: absolute;
    width: 18px;
    height: 18.6vw;
    top: 15.3vw;
    left: 93.3vw;
    transform-origin: 50% 100%;
    background-color: #7BBD59;
    border-radius: 6px;
}

.shrink{
    animation-name: shrink_time;
    animation-duration: 60s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
}

@keyframes shrink_time{
    0% {
        scale: 1 1;
        background-color: #7BBD59 ;
    }
    50% {
        background-color: #EED12B;
    }
    100% {
        scale: 1 0;
        background-color: #C64242;
    }

}